@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

@layer components {
    .btn {
        @apply h-fit w-fit px-2 py-1 text-white rounded-md hover:bg-opacity-70 transition-all duration-300 ease-linear
    }
}

.bg-custom-postion {
    background-position: 55% 25%;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6b24b255;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b24b2;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Rich Text Decoration */
h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
    margin: 0 70px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }

    li {
        margin: 0 50px;
    }

    .bg-custom-postion {
        background-position: 35% 25%;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
        margin: 0 70px;
    }
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

.ql-align-center {
    text-align: center;
}