@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply h-fit w-fit px-2 py-1 text-white rounded-md hover:bg-opacity-70 transition-all duration-300 ease-linear
    }
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}